$Background-Black: #252426;
$Text-Silver: #c6c0be;
$light-blue: #cbc6fd;
$darker-blue: #a59dff;
$Light-Pink: #fca4a4;
/* 
------ Color Pallete

#747c8c - Slate Gray
#f2f2f2 - Cultured
#fca4a4 - Light Pink

------- Fonts 
Source Code Pro
*/ ;
